<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item >Home</a>
      <a mat-list-item>About</a>
      <a mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <mat-icon>
      celebration
    </mat-icon>
    <span>
      Angular playground
      
    </span>
    
    <mat-icon>
      attractions
    </mat-icon>

  </mat-toolbar>

  <router-outlet></router-outlet>
  
</mat-sidenav-container>
